.venv/
.idea/
__pycache__/
*.pyc
.DS_Store
results/*
!results/task1/
results/task1/*
!results/task1/task1_summary.csv
!results/task2/
results/task2/*
!results/task2/*.csv
!results/task2/*.png
!results/task3/
results/task3/*
!results/task3/*.csv
!results/task3/*.png
